<h1>{{title}}</h1>

<div class="search-container">
  <md-input-container color="primary">
    <input mdInput (keyup)=searchUsers($event) placeholder="Search for twitter user" value="">
    <!-- <input type=text mdInput (keyup)=searchUsers() [formControl]="firstNameControl" placeholder="Search for twitter user"> -->
  </md-input-container>

  <a md-raised-button color="primary" class="search-button" (click)=displayUsers($event) routerLink=".">
    <md-icon color="accent">search</md-icon>
  </a>

  <div *ngIf="false" class="search-result">
    <md-list-item *ngFor="let user of users">
      <a>
        <p>{{user}}</p>
      </a>
      <md-divider></md-divider>
    </md-list-item>
  </div>

</div>
